{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Partenaires Locaux
{% endblock %}

{% block body %}

    <section class="row m-5 justify-content-around">
        <div class="col-md-3 text-center">
            <h3>Le moulin de Hurnel</h3>
            <p>Farine de blé noir bretonne et froment breton<br>
                <a href="https://www.minoterie-bertho.fr/le-moulin/lhistoire-du-moulin-de-hurnel/" target="_blank">Plus d'info</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <h3>La ferme de Suscinio</h3>
            <p>Tome de Rhuys et Petit crémeux<br>
                <a href="https://www.tomederhuys.fr/visite-de-la-ferme" target="_blank">Visiter la ferme</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <h3>Cidrerie Nicol</h3>
            <p>Le cidre Saint-Armel est fait exclusivement avec les pommes de leur verger, ils obtiennent donc l'appellation "cidre fermier".<br>
                <a href="https://www.cidres-nicol.bzh/" target="_blank">Plus d'infos</a>
            </p>
        </div>
    </section>

    <section class="row m-5 justify-content-around">
        <div class="col-md-3"><img src="{{ asset('img/photo/farine.jpg') }}" class="rounded img-fluid"></div>
        <div class="col-md-3"><img src="{{ asset('img/photo/fromage.jpg') }}" class="rounded img-fluid"></div>
        <div class="col-md-3"><img src="{{ asset('img/photo/cidre.jpg') }}" class="rounded img-fluid"></div>
    </section>

    <section class="row m-5 justify-content-around">
        <div class="col-md-3 text-center">
            <h3>Café de Rhuys</h3>
            <p>Artisan maître torréfacteur<br>
                <a href="https://www.lescafesderhuys.com/" target="_blank">Plus d'info</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <h3>Brasserie Lancelot</h3>
            <p>Bière bretonne<br>
                <a href="https://brasserie-lancelot.bzh/" target="_blank">Plus d'infos</a>
            </p>
        </div>
        <div class="col-md-3 text-center">
            <h3>Terre de Glace</h3>
            <p>Glaces artisanales<br>
                <a href="https://terres-de-glaces.com/" target="_blank">Plus d'infos</a>
            </p>
        </div>
    </section>

    <section class="row m-5 justify-content-around">
        <div class="col-md-3"><img src="{{ asset('img/photo/cafe.jpg') }}" class="rounded img-fluid"></div>
        <div class="col-md-3"><img src="{{ asset('img/photo/biere.jpg') }}" class="rounded img-fluid"></div>
        <div class="col-md-3"><img src="{{ asset('img/photo/glace.png') }}" class="rounded img-fluid"></div>
    </section>

{% endblock %}



