{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row m-5 justify-content-center">
        <div class="col-md-5 border border-3 rounded">
    <h1>Mon  profil </h1>
        <ul>
            <li>Nom</li>
            {{ utilisateur.nom }}
            <li>Prénom</li>
            {{ utilisateur.prenom }}
            <li>Email</li>
            {{ utilisateur.email }}
            <li>Région</li>
            {{ utilisateur.region.nom }}
        </ul>

    <a href="{{ path('profil_supprimer') }}" title="Supprimer">Supprimer mon profil</a>
    <a href="{{ path('profil_modifier') }}" title="Modifier">Modifier mon profil</a>
        </div>
    </div>
</div>

{% endblock %}

{% block title %}
    {{ parent() }} | Mon profil
{% endblock %}

