{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Administrateur{% endblock %}

{% block body %}

    <h1>Tableau de bord de l'administrateur</h1>

    <p>Nombre total d'utilisateurs : {{ totalUsers }}</p>
    <p>Nombre total de commentaires : {{ totalComments }}</p>
    <p>Moyenne des notes : {{ averageRating }}</p>
    <p>Région la plus fréquemment utilisée : {{ regionLaPlusFrequente }}</p>
    <p>Nombre d'utilisateurs dans cette région : {{ nombreUtilisateurs }}</p>

{% endblock %}
