{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Contact
{% endblock %}

{% block body %}
    {% if app.user %}
     <h1>Laissez-nous un commentaire</h1>
    <div class="form">
            <div class="form-container">
                {{ form_start(commentaireForm) }}

                {{ form_widget(commentaireForm) }}

                <button>Soumettre</button>

                {{ form_end(commentaireForm) }}
            </div>
    </div>

    {% else %}
        <div class="contact-connection">
        <p>Afin de nous laisser un avis<br>
        Merci de vous connecter<br>
                <a href="{{ path('app_login') }}" title="Connexion">Se connecter</a></p>
        </div>
    {% endif %}

    <div class="logo-container">
        <a href="lien_site1"><img src="logo1.png" alt="Logo 1"></a>
        <a href="lien_site2"><img src="logo2.png" alt="Logo 2"></a>
        <a href="lien_site3"><img src="logo3.png" alt="Logo 3"></a>
        <a href="lien_site4"><img src="logo4.png" alt="Logo 4"></a>
    </div>


{% endblock %}



