{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Contact
{% endblock %}

{% block body %}
    <section class="row justify-content-center m-5">
        {% if app.user %}
            <div class="col-md-5 form">
         <h1>Laissez-nous un commentaire</h1>

                <div class="form-container">
                    {{ form_start(commentaireForm) }}

                    {{ form_widget(commentaireForm) }}

                    <button>Soumettre</button>

                    {{ form_end(commentaireForm) }}
                </div>
        </div>

        {% else %}
            <div class="col-md-3 text-center">
            <p>Afin de nous laisser un avis<br>
            Merci de vous connecter<br>
                    <a href="{{ path('app_login') }}" title="Connexion">Se connecter</a></p>
            </div>
        {% endif %}
    </section>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>

    <section class="row m-5 align-items-center">

        <div class="col">
            <a href="https://www.facebook.com/profile.php?id=100066729413210&locale=fr_FR" target="_blank"><img src="{{ asset('img/logo/logoFacebook.png') }}" alt="Logo facebook"></a>
        </div>
        <div class="col">
            <a href="https://www.google.com/maps/place/BARA+BREIZH/@47.570343,-2.7068235,15z/data=!4m6!3m5!1s0x481002b22585627b:0xf4cabc2cc11de464!8m2!3d47.570343!4d-2.7068235!16s%2Fg%2F1tfw2fbz?entry=ttu" target="_blank"><img src="{{ asset('img/logo/logoGoogle.png') }}" alt="Logo google"></a>
        </div>
        <div class="col">
            <a href="https://www.instagram.com/creperie.barabreizh/" target="_blank"><img src="{{ asset('img/logo/logoInstagram.png') }}" alt="Logo instagram"></a>
        </div>
        <div class="col">
            <a href="https://www.tripadvisor.fr/Restaurant_Review-g7001286-d3751451-Reviews-Bara_Breizh-Saint_Armel_Morbihan_Brittany.html" target="_blank"><img src="{{ asset('img/logo/logoTrip.png') }}" alt="Logo tripAdvisor"></a>
        </div>

    </section>


{% endblock %}



