{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Contact
{% endblock %}

{% block body %}
    {% if app.user %}
     <h1>Laissez-nous un commentaire</h1>
    <div class="form">
            <div class="form-container">
                {{ form_start(commentaireForm) }}

                {{ form_widget(commentaireForm) }}

                <button>Soumettre</button>

                {{ form_end(commentaireForm) }}
            </div>
    </div>

    {% else %}

                Connectez vous pour laisser un commentaire
                <a href="{{ path('app_login') }}" title="Connexion">Se connecter</a>
    {% endif %}

{% endblock %}



