
<nav class="navbar navbar-expand-md ">
    <div class="container-fluid justify-content-end">

        <a class="navbar-brand" href="{{ path('accueil_index') }}">
            <img src="{{ asset('img/logo/logoRestaurant2.png') }}" alt="logo">
        </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuretractable" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuretractable">


    <ul class="nav nav-tabs">




        {# bouton visible dans tout les cas #}
        <li class="nav-item"><a class="nav-link" href="{{ path('accueil_index') }}" title="Accueil">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('contact_afficher') }}" title="Accueil">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('menu_afficher') }}" title="Accueil">Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('partenaireslocaux_afficher') }}" title="Accueil">Partenaires Locaux</a></li>

        {% if app.user %}

            {# bouton visible si l'utilisateur est connécté #}
            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}" title="Deconnexion">Se déconnecter</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ path('profil_afficher') }}" title="Profil">Mon profil</a></li>

            {% if is_granted("ROLE_ADMIN") %}

                {# bouton visible si l'utilisateur connecté a le role administrateur #}
                <li class="nav-item"><a class="nav-link" href="{{ path('admin_dashboard') }}" title="Admin">Admin</a></li>

            {% endif %}

        {% else %}

            {# bouton visible si l'utilisateur n'est pas connecté #}
            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}" title="Connexion">Se connecter</a></li>


        {% endif %}

    </ul>
    </div>

    </div>
</nav>
