<nav>
    <ul>

        {# bouton visible dans tout les cas #}
        <a href="{{ path('accueil_index') }}" title="Accueil">Accueil</a>
        <a href="{{ path('contact_afficher') }}" title="Accueil">Contact</a>
        <a href="{{ path('menu_afficher') }}" title="Accueil">Menu</a>
        <a href="{{ path('partenaireslocaux_afficher') }}" title="Accueil">Partenaires Locaux</a>

        {% if app.user %}

            {# bouton visible si l'utilisateur est connécté #}
            <a href="{{ path('app_logout') }}" title="Deconnexion">Se déconnecter</a>

            {% if is_granted("ROLE_ADMIN") %}

                {# bouton visible si l'utilisateur connecté a le role administrateur #}

            {% endif %}

        {% else %}

            {# bouton visible si l'utilisateur n'est pas connecté #}
            <a href="{{ path('app_login') }}" title="Connexion">Se connecter</a>


        {% endif %}

    </ul>
</nav>